/* 
@media only screen and (max-width: 1400px) {

    .home_banner h1{
        font-family: 'Poppins', sans-serif;
        color: #ffffff;
        font-size: 5.61em;
        font-weight: 300;
        padding-top: 0.74em;
    }
    
    .home_banner h1>span{
        font-weight: 700;
    }

}



@media screen and (min-width: 912px) {


    ._home{
        height: 35em;
    }

    .home_banner h1{
        font-size: 4em;
        padding-top: 0.74em;
    }
    
    .home_banner h1>span{
        font-weight: 700;
    }

    .home_banner .home_banner2 p{
        font-size: 2.3em;
    }

    ._home ._tag_div {
        margin-top: 1em;
    }

    ._home .tag_line p {
        font-size: 1em;
    }

    ._home .tag_line .bold_text {
        font-weight: 500;
    }

    ._home ._btn_div .demo_btn {
        font-size: 1.3em;
        width: 10em;
        height: 2.5em;
        margin-top: 1em;
    }

    ._tag_div .tag_line2 {
        margin-top: 1.5em;
        font-size: 1.2em;
    }

    ._tag_div ._subs_form {
        margin-top: 2em;
    }

    ._tag_div .subs_email input[type='email'] {
        font-size: 1em;
    }

    ._tag_div .subs_email ._subs_btn {
        font-size: 1em;
    }

} */