{% extends "base.html" %}
{% load static %}

{% block content %}

<main class="_main">
    <section class="be2_sec1">
        <div class="container_feature">
            <div class="bannerCont">
                <p class="banner_title">
                    <span>Features</span>
                </p>
            </div>
        </div>
    </section>

    <section class="feature_sec">
        <div class="featureCont">
            <div class="feature_item">
                <div class="item_inner">
                    <span><img src="{% static 'icons/f1.png' %}" alt="#"></span>
                    <p class="title1">
                        <span>Market competition Analysis</span>
                        <span class="decor_span"></span>
                    </p>
                    <p class="fitem_text">
                        Benchmark your performance with competitors and evaluate your global market value.
                    </p>
                </div>
            </div>
            <div class="feature_item">
                <div class="item_inner">
                    <span><img src="{% static 'icons/f1.png' %}" alt="#"></span>
                    <p class="title1">
                        <span>Product Demand Forecasting</span>
                        <span class="decor_span"></span>
                    </p>
                    <p class="fitem_text">
                        Forecast your product demand, supply and market volatility based on updated international market facts and figures.
                    </p>
                </div>
            </div>
            <div class="feature_item">
                <div class="item_inner">
                    <span><img src="{% static 'icons/f1.png' %}" alt="#"></span>
                    <p class="title1">
                        <span>Grow Your Business Network</span>
                        <span class="decor_span"></span>
                    </p>
                    <p class="fitem_text">
                        Discover, target & connect with real buyers & sellers all over the world.
                    </p>
                </div>
            </div>
            <div class="feature_item">
                <div class="item_inner">
                    <span><img src="{% static 'icons/f1.png' %}" alt="#"></span>
                    <p class="title1">
                        <span>Relish Constructive Experience</span>
                        <span class="decor_span"></span>
                    </p>
                    <p class="fitem_text">
                        Enjoy every phase of the business journey withus because Customer Centricity is our specialty.
                    </p>
                </div>
            </div>
            <div class="feature_item">
                <div class="item_inner">
                    <span><img src="{% static 'icons/f1.png' %}" alt="#"></span>
                    <p class="title1">
                        <span>Three Dimensional Analysis</span>
                        <span class="decor_span"></span>
                    </p>
                    <p class="fitem_text">
                        Supported by enhanced global ports coverage, our three- dimensional analysis improves your trade vision by helping you analyze- Product volume, Product value and Product flow trend.
                    </p>
                </div>
            </div>
            <div class="feature_item">
                <div class="item_inner">
                    <span><img src="{% static 'icons/f1.png' %}" alt="#"></span>
                    <p class="title1">
                        <span>Quantify Product Flow</span>
                        <span class="decor_span"></span>
                    </p>
                    <p class="fitem_text">
                        Refer trade reports to obtain insights on your product flow across borders. Know the product value, product demand and top suppliers all over the world.
                    </p>
                </div>
            </div>
            <div class="feature_item">
                <div class="item_inner">
                    <span><img src="{% static 'icons/f1.png' %}" alt="#"></span>
                    <p class="title1">
                        <span>Equitable Pricing for Best value</span>
                        <span class="decor_span"></span>
                    </p>
                    <p class="fitem_text">
                        Be rest assured on value by making intuitive investment for qualitative and quantitative trade reports.
                    </p>
                </div>
            </div>
            <div class="feature_item">
                <div class="item_inner">
                    <span><img src="{% static 'icons/f1.png' %}" alt="#"></span>
                    <p class="title1">
                        <span>One-Stop solution to Trade Woes</span>
                        <span class="decor_span"></span>
                    </p>
                    <p class="fitem_text">
                        Beginner or an experienced trader? You can consult our experts on the best practices to avoid risks in domestic/international trade.
                    </p>
                </div>
            </div>
            <div class="feature_item">
                <div class="item_inner">
                    <span><img src="{% static 'icons/f1.png' %}" alt="#"></span>
                    <p class="title1">
                        <span>Zero-Cost Consultation</span>
                        <span class="decor_span"></span>
                    </p>
                    <p class="fitem_text">
                        You can avail free of cost consultation from our experts who can guide you on the ÔÇÿDos & DonÔÇÖtsÔÇÖ of trade.
                    </p>
                </div>
            </div>
        </div>
    </section>

</main>

{% endblock content %}