{% extends 'base.html' %}

{% load static %}

{% block content %}
  <main class="container-fluid p-0 m-0">
    <!-- Landing page section begins here -->

    <section class="container-fluid p-0 m-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col home_banner">
            <div class="container-fluid home_banner2">
              <h1><span>BE</span> GLOBAL TRADE INSIGHT</h1>
              <p>Explore, Identify & Grow</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
