{% extends 'base.html' %}

{% load static %}

{% block content %}
<main class="container-fluid p-0 m-0 _main_home">

  <!-- Landing page section1 begins here -->

  <section class="container-fluid p-0 m-0 _home">
    <div class="container-fluid">
      <div class="row">
        <div class="col home_banner">
          <div class="container-fluid home_banner2">
            <h1><span>BE</span> GLOBAL TRADE INSIGHT</h1>
            <p>Explore, Identify & Grow</p>
            {% comment %} <img src="{% static 'Image/2.png' %}" alt=""> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid _tag_div">
      <div class="row">
        <div class="col">
          <div class="container-fluid tag_line">
            <p>from multi nations’ export</p>
            <p>and import trade data on a</p>
            <p class="bold_text">single interface</p>
          </div>
          <div class="container-fluid _btn_div">
            <button class="demo_btn">Request a Demo</button>
          </div>
          <div class="container-fluid tag_line2">
            <p>among 9 millions</p>
            <p>exporters and importers globally</p>
          </div>
          <div class="container-fluid _subs_form">
            <form class="subs_email" action="#">
              {% comment %} <i class="fa fa-envelope" style="font-size:50px;color:#ffffff;"></i> {% endcomment %}
              <input type="email" name="email" id="subs_email" placeholder="Email Address">
              <button type="submit" class="_subs_btn">SIGN UP FREE</button>
            </form>
            <p><i>to access monthly publications | cancel anytime | no credit card required</i></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Landing page section1 end -->

  <!-- Landing page section2 begins here -->
  <section class="container-fluid mt-5 p-0 _home_sec2">
    <div class="container _counter">
      <div class="container count">
        <div class="item">
          <h2><span>210+</span> Countries</h2>
          <p>Import and Export Trade Data</p>
        </div>
        <div class="item">
          <h2><span>50+</span> Countries</h2>
          <p>Detailed Customs Data</p>
        </div>
        <div class="item">
          <h2><span>10M+</span> Global</h2>
          <p>Exporter and Importer Companies</p>
        </div>
      </div>

    </div>
  </section>

  <!-- Client slide bar start here-->
  <section class="container-fluid _client_show">
    <div class="_show_header">
      <h1>Grow with BE Smart Exim</h1>
      <p>Our Platform helps brands like these build their thing and keep it growing</p>
    </div>
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png" alt="">
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png" alt="">
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/nestle-logo-png-transparent.png" alt="">
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png" alt="">
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png" alt="">
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png" alt="">
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png" alt="">
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png" alt="">
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png"
            alt="">
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png" alt="">
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png" alt="">
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png" alt="">
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png" alt="">
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png" alt="">
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png"
            alt="">
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png" alt="">
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png" alt="">
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid">
    <div class="container-fluid _home_hlt">
      <div class="container _hlt_header">
        <h1>EXPLORE, IDENTIFY & GROW</h1>
        <p><span>Exploring</span> and <span>Identifying</span> the right opportunities at the <br>
          right time in the global market helps the business to Grow</p>
      </div>
      <div class="container _hlt_dtl">
        <div class="hlt_tabs">
          <ul class="tabs">
            <li class="tab-0"><a href="">Monitoring Competition</a></li>
            <li class="tab-1"><a href="">Buyer’s Identification</a></li>
            <li class="tab-2"><a href="">Product Flow</a></li>
            <li class="tab-3"><a href="">Risk Evaluation</a></li>
            <li class="tab-4"><a href="">Pricing Strategy</a></li>
          </ul>
        </div>
        <div class="tab_slide">
          <div class="slide_cont">
            <h1>Monitoring Competition</h1>
            <p>Exporters face stiff competition from domestic and global exporters due to
              lack of information on: trade statistics, product demand, competitive pricing,
              supply chain trends and evolving buyer behavior.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
{% endblock %}