{% extends 'base.html' %}

{% load static %}

{% block content %}
<main class="container-fluid p-0 m-0 _main_home">
  <!-- Landing page section1 begins here -->

  <section class="container-fluid p-0 m-0 _home">
    <div class="container-fluid">
      <div class="row">
        <div class="col home_banner">
          <div class="container-fluid home_banner2">
            <h1><span>BE</span> GLOBAL TRADE INSIGHT</h1>
            <p>Explore, Identify & Grow</p>
            {% comment %} <img src="{% static 'Image/2.png' %}" alt="" /> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid _tag_div">
      <div class="row">
        <div class="col">
          <div class="container-fluid tag_line">
            <p>from multi nations’ export</p>
            <p>and import trade data on a</p>
            <p class="bold_text">single interface</p>
          </div>
          <div class="container-fluid _btn_div">
            <button class="demo_btn">Request a Demo</button>
          </div>
          <div class="container-fluid tag_line2">
            <p>among 9 millions</p>
            <p>exporters and importers globally</p>
          </div>
          <div class="container-fluid _subs_form">
            <form class="subs_email" action="#">
              {% comment %} <i class="fa fa-envelope" style="font-size:50px;color:#ffffff;"></i> {% endcomment %}
              <input type="email" name="email" id="subs_email" placeholder="Email Address" />
              <button type="submit" class="_subs_btn">SIGN UP FREE</button>
            </form>
            <p>
              <i>to access monthly publications | cancel anytime | no credit card required</i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Landing page section1 end -->

  <!-- Landing page section2 begins here -->
  <section class="container-fluid mt-5 p-0 _home_sec2">
    <div class="container _counter">
      <div class="container count">
        <div class="item">
          <h2><span>210+</span> Countries</h2>
          <p>Import and Export Trade Data</p>
        </div>
        <div class="item">
          <h2><span>50+</span> Countries</h2>
          <p>Detailed Customs Data</p>
        </div>
        <div class="item">
          <h2><span>10M+</span> Global</h2>
          <p>Exporter and Importer Companies</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Section : Begin -->
  <section class="container-fluid py-5">
    <div class="container">
      <div class="text-center my-5">
        <h2 class="_title text-secondary"><span class="text-dark">What</span> we are offering to <br /><span
            class="text-warning">Customers</span></h2>
      </div>
      <div class="row _infoBox-row justify-content-center">
        <!-- Col : Begin -->

        <div class="col-lg-4 col-md-6 px-2 mb-3">
          <div class="_infoBox">
            <figure class="_infoBox-fig">
              <img src="{% static 'Image/service1.jpg' %}" alt="" />
            </figure>
            <div class="_infoBox-body">
              <span class="_info-icon"><img src="{% static 'icons/info-1.png' %}" alt="" /></span>
              <h5>Enhanced Depth for Wider Insights</h5>
              <p class="_info-txt">BE Smart Exim connects data across different variables that brings you the deepest
                insight on the global cargo movement.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 px-2 mb-3">
          <div class="_infoBox">
            <figure class="_infoBox-fig">
              <img src="{% static 'Image/service2.jpg' %}" alt="" />
            </figure>
            <div class="_infoBox-body">
              <span class="_info-icon"><img src="{% static 'icons/info-2.png' %}" alt="" /></span>
              <h5>Diversified Forecasting</h5>
              <p class="_info-txt">Advanced methods of forecasting, at BE Smart Exim, enhances the scope of client
                delight and success by enabling them to visualize the risk and opportunity attached with different
                variables, serving a competitive edge when making crucial decisions.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 px-2 mb-3">
          <div class="_infoBox">
            <figure class="_infoBox-fig">
              <img src="{% static 'Image/service3.jpg' %}" alt="" />
            </figure>
            <div class="_infoBox-body">
              <span class="_info-icon"><img src="{% static 'icons/info-3.png' %}" alt="" /></span>
              <h5>Enhanced Coverage Circle</h5>
              <p class="_info-txt">With the addition of 10 African nations, BE Smart Exim currently captures the
                export-import trade intelligence reports from 50+ nations across 5 continents based on in-house Exim
                records and master bill of lading. Around 120 million records are being collected every year from 50+
                nations, 1000+ of regions and 250+ commodities group.</p>
            </div>
          </div>
        </div>

        <!-- Col : End -->
      </div>
    </div>
  </section>
  <!-- Section : End -->

  <!-- Client slide bar start here -->
  <section class="container-fluid _client_show">
    <div class="_show_header">
      <h1><span>Grow</span> with BE Smart Exim</h1>
      <p>Our Platform helps brands like these build their thing and keep it growing</p>
    </div>
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png" alt="" />
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png" alt="" />
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/nestle-logo-png-transparent.png" alt="" />
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png" alt="" />
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png" alt="" />
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png" alt="" />
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png" alt="" />
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png" alt="" />
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png"
            alt="" />
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png" alt="" />
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png" alt="" />
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png" alt="" />
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png" alt="" />
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png" alt="" />
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png"
            alt="" />
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png" alt="" />
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png" alt="" />
        </div>
        <div class="slide">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png" alt="" />
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid p-0 m-0">
    <div class="container-fluid _home_hlt">
      <div class="container _hlt_header">
        <h1>EXPLORE, IDENTIFY & GROW</h1>
        <p>
          <span>Exploring</span> and <span>Identifying</span> the right opportunities at the <br />
          right time in the global market helps the business to Grow
        </p>
      </div>
      <div class="container _hlt_dtl">
        <ul class="usp_cards">
          <li class="usp_cards_items" id="card1">
            <div class="row usp_cont">
              <div class="col-lg-6 col-md-6">
                <div class="usp_text">
                  <h2>Monitoring Competition</h2>
                  <p>Exporters face stiff competition from domestic and global exporters due to lack of information on:
                    trade statistics, product demand, competitive pricing, supply chain trends and evolving buyer
                    behavior.</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 usp_img">
                <img class="img-fluid" src="{% static 'Image/Identification.jpg' %}" alt="Monitoring" />
              </div>
            </div>
          </li>
          <li class="usp_cards_items" id="card2">
            <div class="row usp_cont">
              <div class="col-lg-6 col-md-6">
                <div class="usp_text">
                  <h2>Buyer’s Identification</h2>
                  <p>Acquiring active importers' contacts is hard in the international trading market. The lack of
                    information on foreign buyers makes exporters wary and jittery about expanding their business
                    globally.</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 usp_img">
                <img class="img-fluid" src="{% static 'Image/Identification.jpg' %}" alt="Identification" />
              </div>
            </div>
          </li>
          <li class="usp_cards_items" id="card3">
            <div class="row usp_cont">
              <div class="col-lg-6 col-md-6">
                <div class="usp_text">
                  <h2>Product Flow</h2>
                  <p>Product flow is dynamic and subject to fluctuations in demand-supply. Uncertainty on product flow
                    due to lack of information on historical transactions can further complicate international trade.
                  </p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 usp_img">
                <img class="img-fluid" src="{% static 'Image/Identification.jpg' %}" alt="product_flow" />
              </div>
            </div>
          </li>
          <li class="usp_cards_items" id="card4">
            <div class="row usp_cont">
              <div class="col-lg-6 col-md-6">
                <div class="usp_text">
                  <h2>Risk Evaluation</h2>
                  <p>Unfortunately, not all overseas exporters are what they seem. There are many challenges associated
                    with finding the reliable suppliers/sellers like evaluating the authenticity and legitimacy by
                    effectively filtering out fake/scam.</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 usp_img">
                <img class="img-fluid" src="{% static 'Image/risk.jpg' %}" alt="Risk Evaluation" />
              </div>
            </div>
          </li>
          <li class="usp_cards_items" id="card5">
            <div class="row usp_cont">
              <div class="col-lg-6 col-md-6">
                <div class="usp_text">
                  <h2>Pricing Strategy</h2>
                  <p>Data helps in pricing strategy by providing valuable insights into market trends, customer
                    behavior, and competitive landscapes, enabling businesses to make informed pricing decisions that
                    align with market dynamics and customer preferences.</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 usp_img">
                <img class="img-fluid" src="{% static 'Image/Pricing.jpg' %}" alt="Pricing Strategy" />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="container-fluid mt-5 p-0 _home_be_sec">
    <div class="container _counter_be">
      <div class="container count_be">
        <div class="item">
          <h2>BeDatos Supply Chain intelligence</h2>
          <p>BE2.0, being a cutting-edge trade intelligence, is a data-driven platform that enables you to make the
            impactful business decision. With the provisions of hassle-free, practical and convenient tools, BE2.0 gives
            you the accessibility of an efficacious monitor of export-oriented, import-oriented or both kind of
            companies' cargo movement across the globe. Visualize and map the international market with millions of
            records with BE2.0 to leverage the competitive edge that equips you with the tools to identify the various
            correlations, demand-supply trends and relations, useful forecasting, etc.</p>
          <button class="_btn">Know More</button>
        </div>
      </div>
    </div>
  </section>

  <section class="_testimonials">
    <div class="testimonial_head">
      <h2>Testimonials</h2>
    </div>
    <div class="slider_test">
      <div class="slide_test">
        <div class="testimonial">
          <img loading="lazy"
            src="{% static 'Image/LOGO.png' %}" />
          <blockquote class="testimonial__text">
            Necessitatibus
            id alias reiciendis, perferendis facere pariatur dolore veniam
            autem esse non voluptatem saepe provident nihil molestiae.
          </blockquote>
        </div>
      </div>

      <div class="slide_test">
        <div class="testimonial">
          <img loading="lazy" src="http://new.superafiliados.com/wp-content/uploads/2021/06/SA-logotype-02.png" />
          <blockquote class="testimonial__text">
            Quisquam itaque deserunt ullam, quia ea repellendus provident,
            ducimus neque ipsam modi voluptatibus doloremque, corrupti
            laborum.
          </blockquote>
        </div>
      </div>

      <div class="slide_test">
        <div class="testimonial">
          <img loading="lazy"
            src="https://www.massupt.org/wp-content/uploads/2017/11/Pearson-Logo-logotype-Horizontal-1024x463.png" />
          <blockquote class="testimonial__text">
            Debitis, nihil sit minus suscipit magni aperiam vel tenetur
            incidunt commodi architecto numquam omnis nulla autem,
          </blockquote>
        </div>
      </div>

      <div class="slide_test">
        <div class="testimonial">
          <img loading="lazy"
            src="https://www.massupt.org/wp-content/uploads/2017/11/Pearson-Logo-logotype-Horizontal-1024x463.png" />
          <blockquote class="testimonial__text">
            Debitis, nihil sit minus suscipit magni aperiam vel tenetur
            incidunt commodi architecto numquam omnis nulla autem,
          </blockquote>
        </div>
      </div>

      <div class="slide_test">
        <div class="testimonial">
          <blockquote class="testimonial__text">
            Debitis, nihil sit minus suscipit magni aperiam vel tenetur
            incidunt commodi architecto numquam omnis nulla autem,
          </blockquote>
        </div>
      </div>

      <div class="slide_test">
        <div class="testimonial">
          <blockquote class="testimonial__text">
            Debitis, nihil sit minus suscipit magni aperiam vel tenetur
            incidunt commodi architecto numquam omnis nulla autem,
          </blockquote>
        </div>
      </div>

      <div class="btns">
        <button class="slider__btn slider__btn--left">
          <img src="{% static 'icons\icons8-dropdown-100.png' %}" alt="">
        </button>
        <button class="slider__btn slider__btn--right">
          <img src="{% static 'icons\icons8-dropdown-100.png' %}" alt="">          
        </button>
      </div>

    </div>
  </section>
</main>
{% endblock %}