{% extends "base.html" %}

{% block content %}

<Section class="container-fluid">
    <div class="container_element_intro">
        <div class="intro_part_a">
            <div class="intro_part_a_elements">
                <h3><Span>BE</Span> Global</h3>
                <h3>Export & Import Trade Insight</h3>
                <p class="tag_line">Explore • Identify • Grow</p>
                <span>among 9 millions exporters and importers globally</span>
            </div>
        </div>
        <div class="intro_part_b">
            <h3>BE Connect</h3>
            <br>
            <p><a href="#">Market Connect</a></p>
            <p><a href="#">Trade Connect</a></p>
            <p><a href="#">Cargo Connect</a></p>
        </div>
    </div>
    <!-- <hr width="100%" color="#004793"> -->
    <div class="intro_part_b_element">
        <div class='intro_element_heading'>
            <h4>Global Market carries a lot of potentials</h4>
            <p>Let's deep dive in BE Connect to understand it better</p>
        </div>
        <div class="intro_part_b_items">
            <div class="intro_market">
                <h5>Market Connect</h5>
                <p>Comprehend the market with relevant insights</p>
                <button class="btn_more"><span>Know More</span></button>
            </div>
            <div class="intro_trade">
                <h5>Trade Connect</h5>
                <p>Explore the active buyers and suppliers across the globe</p>
                <button class="btn_more"><span>Know More</span></button>
            </div>
            <div class="intro_cargo">
                <h5>Cargo Connect</h5>
                <p>A platform to meet all the export and import consultancy services</p>
                <button class="btn_more"><span>Know More</span></button>
            </div>
        </div>
    </div>
    <!-- <hr width="100%" color="#004793">
    <hr width="100%" color="#004793"> -->
    <div class="home_search_element">
        <div class="search_heading">
            <h4>Search International Buyers and Suppliers</h4>
        </div>
        <div class="search_section">
            <input type="search" name="product" id="product" placeholder="Product Name">
            <input type="submit" value="Search">
        </div>

    </div>
    <!-- <hr width="100%" color="#004793"> -->
    <div class="foreign_intro">
        <div class="foreign_intro_line">
            <p>Comprehend the market with <br><b><i>Export and Import Trade Insights</i></b><br> from 50+ nations
            </p>
            <span>recently added Turkey, Kyrgystan, Armenia, Belarus, Chad</span>
        </div>
        <div>
            <button class="btn_more"><span>Know More</span></button>
        </div>
    </div>
    <!-- <hr width="100%" color="#004793"> -->
    <div class="insight_section">
        <p>Insight Section Coming Soon...</p>
    </div>
    <!-- <hr width="100%" color="#004793"> -->
    <div class="online_intro">
        <div class="online_intro_line">
            <p>Access <b><i>ONLINE</i></b> Global Trade Intel <br>of exports and imports<br> with unlimited
                searching, no user capping (limited period offer)</p>
        </div>
        <div>
            <button class="btn_more"><span>Book for DEMO</span></button>
        </div>
    </div>
    <!-- <hr width="100%" color="#004793">
    <hr width="100%" color="#004793"> -->
    <div class="Testimonials_section">
        <div>
            <div class="Testimonials_head">
                <h4>Assisting 1000+ businesses</h4>
                <span>to meet the growth</span>
                <p>With the scope of diversified</p>
                <p>service including in-depth analysis and insights,</p>
                <p>we enjoy client advocacy from different regions</p>
            </div>
            <div class="testimonials">
                <div>
                    <img src="Image/LOGO.png" width="100px" alt="Image">
                </div>
                <div class="client">
                    <h4 id="client_name">Nestle India</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias fuga voluptatem inventore
                        aspernatur dicta eligendi rerum quis aliquid ab totam, nisi labore et corrupti nobis.</p>
                </div>
            </div>
        </div>
    </div>

</Section>

{% endblock content %}