{% extends "base.html" %}
{% load static %}


{% block content %}

<main class="_main">
        <section class="container_sol" id="supplier">
            <div class="bannerCont">
                <p class="banner_title">
                    <span class="display-5">Solution Buyers</span>
                </p>
            </div>
            <div class="sol_sec">
                <div class="sol_cot">
                    <div class="inner_cot">
                        <div class="sol_head">
                            <h2 class="titleSol">Buyers</h2>
                            <p>The exploration and identification of foreign buyers becomes tedious and complex
                                specially when its about International Trade. Finding serious buyers is always a
                                challenge for the global business due to several reasons including geographical
                                differences.The exporters always prefer to know more about the buyers, their buying
                                behavior, prices at which they are buying the product, etc."</p>
                        </div>
                    </div>
                    <div class="inner_cot">
                        <div class="titleDes">
                            <p><strong>How BE Smart Exim improves your experience by reducing your effort?</strong></p>
                        </div>
                    </div>
                    <div class="inner_cot">
                        <div class="sol_item">
                            <div class="item_infoBox">
                                <figure class="infoBox_fig">
                                    <img src="{% static 'Image/solitem1.jpeg' %}" alt="">
                                </figure>
                                <div class="item_infoCont">
                                    <h4>Studying Supplier Behaviour test</h4>
                                    <p>The Buyers can be studied further with other relevant information related to the transaction frequency, buying volume, time period, etc.</p>
                                </div>
                            </div>
                            <div class="item_infoBox">
                                <figure class="infoBox_fig">
                                    <img src="{% static 'Image/solitem2.jpeg' %}" alt="">
                                </figure>
                                <div class="item_infoCont">
                                    <h4>Monitoring and Analyzing Supplier Activity</h4>
                                    <p>The Buyers can be studied further with other relevant information related to the transaction frequency, buying volume, time period, etc.</p>
                                </div>
                            </div>
                            <div class="item_infoBox">
                                <figure class="infoBox_fig">
                                    <img src="{% static 'Image/solitem3.jpeg' %}" alt="">
                                </figure>
                                <div class="item_infoCont">
                                    <h4>Listing of Potential Supplier</h4>
                                    <p>Number of potential buyers have been listed that can be explored on the basis of geographical location and time frame.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>
        </section>
    </main>

{% endblock content %}