{% extends 'base.html' %}

{% load static %}

{% block content %}
  <main class="container-fluid mt-1 p-0">
    <!-- Banner Head Start here -->
    <section class="container-fluid p-0">
      <article class="index_team container-fluid p-0">
        <div class="container">
          <div class="jumbotron">
            <h1 class="text-white display-4">Our Team</h1>
          </div>
        </div>
      </article>
    </section>
    <!-- Banner Head End -->
    <section class="container-fluid py-5">
      <div class="container">
        <div class="text-center my-5">
          <h2 class="_title">Discover Our <br /><span class="text-warning">Team And Experts</span></h2>
        </div>

        <div class="row justify-content-center">
          <!-- Col : Begin -->
          <div class="col-lg-4 col-md-6 px-2 mb-3">
            <div class="_infoBox _infobox_col">
              <figure class="_infoBox-fig">
                <img src="{% static 'Image/team-1.jpg' %}" alt="" />
              </figure>
              <div class="_infoBox-body">
                <h5>
                  <span class="_info-icon"><img src="{% static 'icons/team1.png' %}" alt="" /></span>
                  Headship
                </h5>
                <p class="_info-txt">and reliability, timely delivery of the analytical reports in a best possible user-friendly manner, accessible at maximum possible platform required for all the crucial and sophisticated decisions. Enjoying the coverage of 50+ nations from 5 continents, we are committed to enhancing more boundaries coverage from untouched grounds to track more of exports and import transactions.</p>
                <p><strong>Key Email:</strong> <a href=""><span>sales@bhawanienclaves.com</span></a> </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 px-2 mb-3">
            <div class="_infoBox _infobox_col">
              <figure class="_infoBox-fig">
                <img src="{% static 'Image/team-2.jpg' %}" alt="" />
              </figure>
              <div class="_infoBox-body">
                <h5>
                  <span class="_info-icon"><img src="{% static 'icons/team2.png' %}" alt="" /></span>
                  BD and Customer Relationship
                </h5>
                <p class="_info-txt">The team, experts in the foreign trade and its standard complexities, are directly in touch with customers to explore and identify the scope and to serve them best of the analytical reports with the highest relevancy. Every member of this team is the asset for the firm acting as your trade navigator to leverage the BE2.0 resources and its tools in the efficacious manner.</p>
                <p><strong>Key Email:</strong> <a href=""><span>crm@bhawanienclaves.com</span></a> </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 px-2 mb-3">
            <div class="_infoBox _infobox_col">
              <figure class="_infoBox-fig">
                <img src="{% static 'Image/team-3.jpg' %}" alt="" />
              </figure>
              <div class="_infoBox-body">
                <h5>
                  <span class="_info-icon"><img src="{% static 'icons/team3.png' %}" alt="" /></span>
                  Data Scientists
                </h5>
                <p class="_info-txt">The data scientists are specialized in assisting and training you to digest the data in the best productive manner. They are the key persons responsible for drafting all your motives of accessing the data reports in a presentable and understandable structure, ensuring the full value of your subscription.</p>
                <p><strong>Key Email:</strong> <a href=""><span>tech@bhawanienclaves.com</span></a> </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 px-2 mb-3">
            <div class="_infoBox _infobox_col">
              <figure class="_infoBox-fig">
                <img src="{% static 'Image/team-4.jpg' %}" alt="" />
              </figure>
              <div class="_infoBox-body">
                <h5>
                  <span class="_info-icon"><img src="{% static 'icons/team4.png' %}" alt="" /></span>
                  Human Resource Managers
                </h5>
                <p class="_info-txt">Their perpetual work ensures exploring the best of the talent for the firm suitable to perform all the relevant and quality jobs necessary for identifying and meeting customer needs in the light of their business growth.</p>
                <p><strong>Key Email:</strong> <a href=""><span>hr@bhawanienclaves.com</span></a> </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 px-2 mb-3">
            <div class="_infoBox _infobox_col">
              <figure class="_infoBox-fig">
                <img src="{% static 'Image/team-5.jpg' %}" alt="" />
              </figure>
              <div class="_infoBox-body">
                <h5>
                  <span class="_info-icon"><img src="{% static 'icons/team5.png' %}" alt="" /></span>
                  Accounting and Taxation
                </h5>
                <p class="_info-txt">The team diligently function for accounting and filing of all your purchases, smooth issuance of all your tax invoices, monitoring your subscription period.</p>
                <p><strong>Key Email:</strong> <a href=""><span>info@bhawanienclaves.com</span></a> </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 px-2 mb-3">
            <div class="_infoBox _infobox_col">
              <figure class="_infoBox-fig">
                <img src="{% static 'Image/team-6.jpg' %}" alt="" />
              </figure>
              <div class="_infoBox-body">
                <h5>
                  <span class="_info-icon"><img src="{% static 'icons/team6.png' %}" alt="" /></span>
                  Customer Support Team
                </h5>
                <p class="_info-txt">The friendly and responsive team offers unlimited and delightful support to every customer by providing Personalized Online Demo and Training Assistance in Customization and Developing of searches Scheduling email reports alerts Discussing any issues regarding the trade intelligence reports.</p>
                <p><strong>Key Email:</strong> <a href=""><span>support@bhawanienclaves.com</span></a> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
